:root {
  --bg: #0d0d0d;
  --card-bg: #111;
  --text: #fff;
  --text-muted: #aaa;
  --border: #2c2c2c;
  --primary: #fff;
}
.close-btn {
    color: var(--text-secondary);
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 22px;
    position: absolute;
    right: 522px;
    top: 119px;
}

.close-btn:hover {
  background: var(--bg-secondary);
}
.login-container {
  height: 100vh;
  width: 100%;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: var(--card-bg);
  width: 380px;
  padding: 32px;
  border-radius: 12px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  color: var(--text);
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.subtitle {
  color: var(--text-muted);
  font-size: 14px;
  margin-bottom: 8px;
}

.label {
  color: var(--text);
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  background: #0a0a0a;
  border: 1px solid var(--border);
  color: var(--text);
}

.input:focus {
  outline: none;
  border-color: #3a3a3a;
}

.forgot {
  color: gray;
  font-size: 8px;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-muted);
  cursor: pointer;
  font-size: 18px;
}

.btn-primary {
  width: 100%;
  padding: 12px 14px;
  background: var(--primary);
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 4px;
}

.btn-primary:hover {
  opacity: 0.9;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text-muted);
  font-size: 12px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--border);
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.btn-google {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid var(--border);
  border-radius: 6px;
  background: #0a0a0a;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.btn-google:hover {
  background: #141414;
}

.create-text {
  text-align: center;
  color: var(--text-muted);
  font-size: 13px;
}

.create-link {
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}

.create-link:hover {
  text-decoration: underline;
}
