.my-inquiries-page {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  border-radius: 10px;
}

.my-inquiries-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f5f5f5;
}

.inquiries-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.inquiry-card {
  background: #1f1f1f;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.inquiry-card p {
  margin: 5px 0;
  font-size: 14px;
}

.inquiry-card strong {
  color: #cf0000;
}


.back-btn {
  background-color: #cf0000;
  color: white;
  border: none;
  padding: 8px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.back-btn:hover {
  background-color: #f01b1b;
}
